<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <script defer th:src="@{/js/site.js}"></script>
</head>
<body data-page="register" class="auth-page">

<th:block th:replace="~{fragments/navbar :: navbar('register')}"></th:block>

<div class="main-wrapper">
    <div class="register-container">
        <h2>Registration</h2>
        <form id="registerForm">
            <div class="input-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" required placeholder="Enter first name">
            </div>
            <div class="input-group">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" required placeholder="Enter last name">
            </div>
            <div class="input-group">
                <label for="username">Email</label>
                <input type="email" id="username" required placeholder="Enter your email">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" required placeholder="Create a password">
            </div>
            <button type="submit" class="auth-submit">Register</button>
        </form>
        <div id="message" class="message"></div>
        <div class="login-link">Already have an account? <a href="/login">Sign in</a></div>
    </div>
</div>
</body>
</html>